[Unit]
Description=Trigger wallpaper change at dawn, day, dusk, and night

[Timer]
OnCalendar=*-*-* 05:00:00
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 18:00:00
OnCalendar=*-*-* 21:00:00
Persistent=true

[Install]
WantedBy=timers.target
